@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
input {
  @apply m-0 border border-gray-400 bg-white p-2 px-3 shadow-sm outline-none focus:outline focus:-outline-offset-1 focus:outline-primary;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

table {
  @apply w-full border-spacing-0;
}

tr {
  @apply w-full odd:bg-white even:bg-primary-lighter;
}

td {
  @apply px-4 py-2 text-left;
}

th {
  @apply text-nowrap bg-primary px-4 py-2 text-left font-medium text-white;
}

.skeleton-animation {
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
